@use "./plug" as p;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
  text-align: center;
  gap: p.rem(10px);
  opacity: 0.8;
  background-image: radial-gradient(#2d6a4f 0.75px, transparent 0.75px),
    radial-gradient(#2d6a4f 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;

  .info {

    h1 {
      font-weight: 700;
      font-size: 4.5rem;
      color: p.$primary;
    }

    p {
      color: #666;
      font-size: p.rem(24px);
      font-weight: bold;
      margin-top: 14px;
      background-color: #fff;
      //   border: 1px solid red;

      span {
        color: p.$primary;
      }
    }
  }

  .buttons {
    display: flex;
    gap: p.rem(14px);
    margin-top: p.rem(10px);

    button {
      border: none;
      padding: p.rem(12px);
      width: p.rem(180px);
      border-radius: p.rem(10px);
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
      background-color: p.$primary-light;
    }

    .see-courses:hover {
      background-color: p.$primary;
      transition: all 0.25s ease;
    }

    .help {
      background-color: p.$text-primary;
    }
  }

  .search-bar-header {
    position: relative;
    width: clamp(p.rem(100px), 50%, p.rem(1000px));
    margin-top: p.rem(10px);

    input {
      width: 100%;
      padding: p.rem(18px) p.rem(20px);
      border-radius: p.rem(18px);
      box-shadow: 0px 4px 70px -10px rgba(0, 0, 0, 0.6);
      outline: none;
      border: none;
      font-size: p.rem(14px);
    }

    button {
      position: absolute;
      right: 0;
      padding: 12px;
      font-size: 24px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
