@use "_plug.scss" as p;

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-wrapper-left {
    width: 50%;
    height: 100%;
    display: flex;
    // justify-content: space-between;
    position: relative;
    // border: 1px solid red;

    figure {
      width: 20%;
      @include p.flexCenter;
      // border: 1px solid red;
    }

    ul {
      width: 70%;
      text-decoration: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-grow: 1;

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-weight: 600;
          color: p.$text-primary;
        }
        a:hover {
          color: p.$primary;
          transition: all 0.25s ease;
        }
      }
    }
  }
  .nav-wrapper-right {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-content: center;

    div {
      width: 80%;
      @include p.flexCenter;

      button {
        width: 85%;
        border: none;
        height: 50%;
        border-radius: p.$border-radius-small;
        font-size: 1rem;
        @include p.flexCenter;
        cursor: pointer;

        i {
          padding: p.rem(3px);
        }
      }
      .log-in {
        background-color: p.$primary-light;
        color: p.$text-inverse;
      }
      .log-in:hover {
        background-color: p.$primary;
        transition: all 0.25s ease;
      }
      .sign-up {
        background-color: p.$text-primary;
        color: p.$text-inverse;
      }
      .sign-up:hover {
        background-color: p.$text-secondary;
        transition: all 0.25s ease;
      }
    }
  }
}

@media screen and (max-width: p.$mobile-lg) {
  nav {
    .nav-wrapper-left {
      gap: 20px;
      width: 40%;
      justify-content: flex-start;

      .hamburger {
        display: flex;
      }

      .links {
        display: none;
      }
    }
  }
}

@media screen and (max-width: p.rem(1024px)) {
  nav {
    .nav-wrapper-left {
      width: 65%;
    }

    .nav-wrapper-right {
      width: 35%;

      div {
        button {
          width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: p.rem(768px)) {
  .nav {
    flex-direction: row-reverse;

    .nav-wrapper-right {
      width: 60%;
    }

    .nav-wrapper-left {
      display: flex;
      width: 40%;
      justify-content: flex-end;

      button {
        width: 50%;
        background: none;
        border: none;

        i {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: p.rem(468px)) {
  .nav {
    .nav-wrapper-right {
      width: 70%;
    }
    .nav-wrapper-left {
      width: 30%;
      button {
        width: 100%;
      }
    }
  }
}